$primary-bg-color:#ff5858;
$secondary-bg-color:#f33155;
$max-width: 768px;
$white:#fff;
$primary-text-color:#473828;
$heading-text-color:#2A2115;
$primary-brand-color:#E95354;
$radius-base:7px;
$font-base: 'Kanit','Open Sans', Helvetica;
