.full-screen-container
  main.campaign
    section.main-banner
      .logo-container
        img.logo(src='/assets/files/img/manoon-logo@2x.png' alt='manoon-petshop-logo')
        img.qrcode(src='/assets/files/img/line-qr@2x.png' alt='manoon-petshop-qr-code')
      .banner-container
        .dog
        img.banner(src='/assets/files/img/banner@2x.png' alt='banner')
        .cat
      .footer
        .info
          | Email:
          a(href='mailto:info@manoonpetshop.co.th')
            |
            | info@manoonpetshop.co.th
        .info
          | Tel:
          a(href='tel:027137400')
            |
            | 0-2713-7400
    section.form-container
      .languages
        a.active(href='#')
          | ไทย
        a(href='#')
          | English
      .flex-row
        .topic
          img.completed-icon(src='/assets/files/img/completed-icon@2x.png')
        .topic
          h2
            b ลงทะเบียนเสร็จสิ้น
        .form-wrap
          .form-group
            .completed-content
              | ขอบคุณ
              |
              span.name คุณสรยุทธิ์
              |
              | ที่ให้โอกาสเราได้คัดสรรสิ่งที่ดีที่สุด ให้สัตว์เลี้ยงที่คุณรัก
          .form-group
            button
              | กลับไปหน้าหลัก
      .footer
        | &copy; Manoon Pet Shop 2017
